
body {
    background-color: black;
}
.nav-container {
    justify-content: center;
    padding-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
ul {
    list-style: none; /* remove bullet points */
    display: flex;
    justify-content:space-between; /* distribute items evenly */
    align-items: center; /* center items vertically */
}


li {
 /* add 10px padding to left and right of each list item */
    font-size: 1.5rem;
}
nav a {
    text-decoration: none;
    color: lightgray;
}

svg {
    width: 4rem;
    fill: green;
}

.hacker {
    background-image: url(img/hacker.png);
    background-repeat: no-repeat; /* do not repeat the image */
    background-size: cover; /* scale the image to cover the entire div */
    background-position: center; /* center the image within the div */
    height: 50rem;
    width: 110rem;
    background-color: black;
    text-align: center;
    margin: auto;
    border: 2px gray solid;
    padding-right: 2rem;
}

.home-text {
    color: lightgray;
}

.title {
    font-family: 'Kanit', sans-serif;
}

.one {
    position: absolute;
    top: 12rem; left: 6rem;
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

.two {
    position: absolute;
    top: 17rem; left: 6rem;
    font-weight: 600;
    font-size: 10rem;
    margin: 0;
}

.text {
    width: 63rem;
    position: absolute;
    top: 29rem; left: 6rem;
    font-size: 1.4rem;
}

.button {
    position: absolute;
    top: 42rem; left: 6rem;
    background-color: transparent;
    border: 1px solid green;
    padding: 1rem;
    font-size: 1.2rem;
    color: green;
    font-weight: 600;
}

.button a {
    text-decoration: none;
    color: green;
}

li a:hover {
    text-decoration: underline green;
    color: green;
}

.svg-hover:hover {
    text-decoration:underline red;
    stroke: white;
    stroke-width: 10;
}

.card {
    box-shadow: 1000px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .description {
    padding: 10px 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
  }

.filosofia-text {
    color: lightgray;
    text-align: center;
    margin-top: 5%;
    font-family: 'Kanit', sans-serif;
    position: absolute;
    top: 2rem; left: 12rem;
}

.cards {
    display: flex;
    gap: 10rem;
}

.title-c {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

/*Parte de contacto*/

.row{
    position: absolute;
    padding-left: 300px;
}

.parrafo{
    color: lightgray;
    font-size: 28px;
}

.contenedor{
    position: absolute;
}

.titulo{
    color: lightgray;
}

::placeholder{
    color: lightgray;
}

.form-register {
    width: 400px;
    background: transparent;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: lightgray;
  }
  
  .form-register h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid green;
    font-family: 'calibri';
    font-size: 18px;
    color: lightgray;
  }
  
  .form-register p {
    color: lightgray;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: lightgray;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: green;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: transparent;
    border-radius: 4px;
    border-color: green;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }